* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
p {
  color: #fff;
}

body {
  background-color: #111;
}

a {
  text-decoration: none;
  color: #00bd3f;
}

a:hover {
  transform: scale(1.2);
}

img {
  max-width: 200px;
  min-width: 200px;
  max-height: 300px;
  min-height: 300px;
}

input {
  background-color: #181a1b;
  padding: 10px;
  margin: 5px;
  border: 1px solid #2e2b2b;
  border-radius: 5px;
  font-size: 16px;
  color: #00bd3f;
}

input:focus {
  border-color: #00bd3f;
  box-shadow: 0 0 5px rgba(0, 255, 64, 0.7);
}

button {
  background-color: #00bd3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.head {
  text-align: center;
}

.card {
  border: 2px solid #00bd3f;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 255, 64, 0.7);
  background-color: #1e2122;
  max-width: 220px;
}

.card h2 {
  font-size: 20px;
}

.card p {
  margin: 5px 0;
}

.container {
  display: flex;
  margin: 2em;
  flex-wrap: wrap;
  justify-content: center;

}

.btnEditar {
  background-color: rgba(0, 118, 187, 0.867);
}

.btnExcluir {
  background-color: rgba(255, 0, 0, 0.867);
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #00bd3f #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00bd3f;
    border-radius: 10px;
    border: 3px none #000000;
  }